* {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #555555;
}

body {
    padding: 70px 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

#navbar {
    justify-content: flex-end;
    gap: 28px;
    align-items: center;
    padding: 0px;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #ff3988;
}

.logo {
    background: url(assets/logo.svg);
    height: 36px;
    width: 198px;
}

.galtiks {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text1 {
    width: 620px;
}

h4 {
    color: #ff3988;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

h1 {
    color: #111;
    font-size: 96px;
    font-weight: 900;
}

h2 {
    color: #111;
    font-size: 56px;
    font-weight: 900;
}

p {
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 41px;
}

.sign-up {
    font-size: 20px;
    font-weight: 600;
    color: #111;
    border: 3px solid transparent;
    /* Gradientinis borderis bet vkadratas */
    /* border-image: linear-gradient(45deg, #ff3998, #ff8139) 1; */
    /* Apvalus borderis */
    border: 3px #ff8139 solid;
    border-radius: 30px;
    padding: 15px 35px;
    margin: 25px 0;

}

#graphic {
    background: url(assets/graphic.svg);
    background-repeat: no-repeat;
    background-size: 600px 600px;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 60%;
}

#upsell {
    margin-top: 180px;
    background-image: url(assets/background.svg);
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 320px;
    width: 100%;
}

.text {
    padding: 100px 0 0 64px;
}

h3 {
    color: #111;
    font-size: 40px;
    font-weight: 500;
}

ul {
    list-style-type: none;
    padding: 125px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.icons {
    height: 46px;
    margin-bottom: 120px;
}

#showcase .text {
    padding: 0;
}


#nft {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card {
    width: 290px;
    height: 400px;
    border-radius: 16px;
    background-color: #eee
}

#nft1 {
    background-image: url(assets/ntfs/ntf-1.svg);
    width: 290px;
    height: 278px;
}

#nft2 {
    background-image: url(assets/ntfs/nft-2.svg);
    width: 290px;
    height: 278px;
}

#nft3 {
    background-image: url(assets/ntfs/ntf-3.svg);
    width: 290px;
    height: 278px;
}

#nft4 {
    background-image: url(assets/ntfs/ntf-4.svg);
    width: 290px;
    height: 278px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container p {
    padding: 0;
}

.series {
    color: #ff8139;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.name {
    color: #111;
    font-size: 20px;
    font-weight: 500;
}

.lot {
    color: #777;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.bid {
    color: #777;
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
}

.price {
    color: #111;
    font-size: 20px;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
}

.time {
    color: #777;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
    margin: 0;
}

#footer-upsell {
    border-top: 3px #eee solid;
    padding-top: 120px;
    border-bottom: 3px #eee solid;
    margin-bottom: 120px;
}

#footer {
    display: flex;
    justify-content: space-between;
}

.collection {
    margin: 30px 0;
}

#right {
    display: flex;
}

.right-column {
    width: 100px;
    padding-right: 30px;
}

.column-heading {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    padding-bottom: 28px;
}

.link {
    line-height: 30px;
}

@media screen and (max-width:768px) {
    body {
        padding: 32px 0 105px 0;
    }

    ul {
        flex-wrap: wrap;
        padding-top: 66px;
    }

    .icons {
        margin-bottom: 20px;
    }

    #nft {
        gap: 40px;
    }

    #footer {
        flex-direction: column;
        gap: 66px;
    }
}